body {
  background-image: url(../image/red-tulip-flower-pink-background_943471-561.jpg);
  float: left;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  background: rgb(26, 24, 24);
  padding: 6px 8px;
  border-radius: 10px;
}

.weather-app {
  border: 1px solid hsl(305, 48%, 60%);
  padding: 40px;
  margin: 60px auto;
  border-radius: 10px;
  max-width: 700px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header {
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: rgb(175, 59, 98);
  padding: 15px 17px;
  border-radius: 10px;
  margin-left: 8px;
  color: whitesmoke;
  font-weight: bold;
  border: transparent;
  cursor: pointer;
}
.search-form-button:hover {
  color: rgb(175, 59, 98);
  background-color: white;
  transition: all 200ms ease-in-out;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: #060707;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: rgb(48, 46, 46);
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(9, 9, 10, 0.959);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #060707;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(194, 168, 168, 0.966);
}
.final {
  color: black;
}
